<font size="5">name: **Yonatan Juarez**</font><br>
<font size="4">github: **yonatan-juarez-5**</font><br>
<font size="3">usc: **yjuarez**</font><br>

**Pandas: This section si for practicing basic functions of the pandas library using the Salaries data set.**

**(a) Consider the Salaries.csv file <br>
(b)Use read_csv()to read the Salaries.csv data and copy it to a df <br>
(c) make the column playerID the index column**

In [ ]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seabon as sns

# read in Salaries.csv
salaries = pd.read_csv("../data/Salaries.csv", index_col='playerID', skiprows=[2])
print(salaries)

**(d) Select the ID of the players who are registered in ATL and HOU whose salary > $1e6**

In [ ]:
players = salaries[(salaries['teamID'].isin(["ATL", "HOU"])) & (salaries['salary'] > 1e6)]
print(f"\tATL/HOU & salary > $1e6:\n{players}\nShape {players.shape}")

**(e) Use describe() to calculate std, Q1, median, Q3, mean, max, min salary in team ATL**

In [ ]:
# print out stats for ATL selection
atl_players = salaries[salaries["teamID"] == "ATL"]
atl_players_stats = atl_players.describe()
print(f"\tStats for ATL:\n{atl_players_stats}")

**(f) Create a python dictionary object whose keys are the headers of the dataframe created in the read_csv() execise<br> and values are python list objects<br>
*use to_dict()***

In [ ]:
# create a dictionary & convert to dictionary to dataframe
temp_salaries = salaries.reset_index()
dict = temp_salaries.to_dict()

**(g) Create a df using pd.DataFrameRead from dictionary created in (e)**

In [ ]:
new_df = pd.DataFrame(dict)
print(f"\tnew_df:\n{new_df}")

# rename headers
new_df.rename(columns={"playerID":'a', "yearID": "b", "teamID":"c", "lgID":"d", "salary":"e"}, inplace=True)
print(f"New headers:\n{new_df}")

<font size="4">**Numpy
<br>(a) create 2-d python list and convert to numpy array**

In [ ]:
# create 2d python list
py_list = [[1,2,3], [4,5,6], [7,8,9]]
# convert python list t0 np array
np_arr = np.array(py_list)
print(np_arr)

<font size="4">**(b) Examine ndim, shape, size, dtype, itemsize, & data attributes**

In [ ]:
print(f"Attributes:\n{np_arr.ndim}, {np_arr.shape}, {np_arr.size}, {np_arr.dtype}, {np_arr.itemsize}")

<font size="4">**(c) learn concept of an ndarray object by using reshape() & flatten() methods**

In [ ]:
print(np_arr.reshape(9))
print(np_arr.flatten())

<font size="4">**(d) Understand how slice operation words for 1D & 2D arrays**

In [ ]:
np_1d = np_arr.reshape(1,9)
print(np_arr.reshape(9))
print(np_1d)
np_slice = np_arr[1:, 1:2]
print(np_slice)

<font size="4">**(e) Learn the following functions ndarray - argmin, argmax, min, max, mean, sum, std, dot, square, sqrt, abs, exp, sign, mod**

In [ ]:
arr = np.array([3,4,5,6,7,2,8,1])
arr1 = np.array([4,3,2,1,6,1,9,7])
print(arr)
print(np.argmin(arr))
print(np.argmax(arr))
print(f"{np.min(arr)}, {np.max(arr)}, {np.mean(arr)}, {np.sum(arr)}")
print(f"{np.std(arr)}, {np.dot(arr, arr1)}, {np.square(arr)}, {np.sqrt(arr)}")
print(f"{np.abs(arr)}, {np.exp(arr)}, {np.sign(arr)}")
print(f"{np.mod(arr, arr1)}")

<font size="4">**(f) examine arange, ones, zeros, eye, linspace, concatenate**

In [ ]:
arr = np.array([2,4,6,8,10])
print(np.arange(1,10, 2))
print(np.zeros(10))
print(np.eye(3))
print(np.linspace(1,6,5)) # (start, stop, n)
print(np.concatenate(([1,2], [6,7])))

<font size="5">**Matplotlib<br>
(a) Create 2 1D arrays x,y and plot y vs. x, add title, xlabel, ylabel, grid**

In [ ]:
x = [n for n in range(1,6)]
y = [n for n in range(5,26,5)]
print(f"x:{x}\ny:{y}")
plt.plot(x,y)
plt.ylabel("Increment of 5")
plt.xlabel("Increment of 1")
plt.grid()

<font size="4">**(b) Create multiple arrays, plot them with different styles, add legends, ad text/mathematical equations on the plot**

In [ ]:
x = [[2**n for n in range(5)], [4**n for n in range(5)]]
y = [[3**n for n in range(5)], [5**n for n in range(5)]]
print(x)
print(y)
plt.plot(x[0],y[0], '*', label="x vs. y", linestyle="--")
plt.text(1, 70, r'$y = x^2$', fontsize=18, color='red')
plt.legend()
plt.show()

<font size=4>**(c) Create multiple subplots, play around with the figure size, text font/size**

In [ ]:
fig, ax = plt.subplots()

ax.plot(x[0], y[0])  # (rows, columns, subplot_number)
plt.title(r'$2^n vs. 3^n$')
plt.xlabel("x-axis", fontsize=13)
plt.ylabel("y-axis", fontsize=13)
plt.xticks(fontsize=18)
plt.yticks(fontsize=18)
ax.legend("exponential",fontsize=14)

# Show the plots
plt.show()

<font size=4> ***(d) Get familiar with get current axis (gca) handle to do the above tasks***

In [ ]:
# Create a figure and an axes
fig, ax = plt.subplots()

# Get the current axes
current_axes = plt.gca()

# Plot something on the current axes
current_axes.plot([1, 2, 3], [4, 5, 6])

# Show the figure
plt.show()

***(d) change limits on x & y axes, use logarithmic axes to plot***

In [ ]:
x = np.linspace(1, 10, 100)
y = 10**x

# Create a subplot with logarithmic axes
fig, ax = plt.subplots()

# Plot the data with logarithmic axes
ax.plot(x, y, label='Exponential Data')

ax.set_xlim(1, 10)  # Set x-axis limits from 1 to 10
ax.set_ylim(1, 10**10)  # Set y-axis limits from 1 to 10^10

ax.set_xscale('log')
ax.set_yscale('log')

ax.set_xlabel('X-Axis (log scale)')
ax.set_ylabel('Y-Axis (log scale)')

ax.legend()
plt.show()

<font size=5>***Seaborn<br>
<font size=4>(a) Use salaries.csv in pandas section<br>
(b) create a dataframe and try to plot it with seaborn***

In [100]:
salaries = pd.read_csv("../data/Salaries.csv")
print(salaries)

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
25570    2015    WAS   NL  treinbl01    512800
25571    2015    WAS   NL  ugglada01    507500
25572    2015    WAS   NL  werthja01  21000000
25573    2015    WAS   NL  zimmejo02  16500000
25574    2015    WAS   NL  zimmery01  14000000

[25575 rows x 5 columns]